body {
    --font-size-base: 14px;
}
* {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.source {
    display: block;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}
.source::before {
    content: 'source';
}
.demo {
    border: 1px solid gray;
    margin: 20px;
    position: relative;
    padding: 15px;
}